#wikitext {
    background-color: #c7e0ff;
    padding: 2px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    font-size: 10pt;
    margin-top: 0px;
}
#wikitext h2 {
    font-size: 12pt;
    margin-left: 10pt;
    margin-bottom: 0px;
}
#wikitext ul {
    list-style-type: square;
}
#wikitext img {
    border-width: 0px;
}
#wikiwindow {
    position: absolute;
    top: 130px;
    left: 160px;
    width: 450px;
}
#wikiwindow h1{
    padding: 4px;
    font-family: Verdana, Arial, sans-serif;
    color: #c7e0ff;
    font-size: 10pt;
    margin: 0px;
}
#quickinfo {
    position: absolute;
    top: 130px;
    left: 620px;
    width: 140px;
}
#quickinfo h1{
    padding: 4px;
    font-family: Verdana, Arial, sans-serif;
    color: #c7e0ff;
    font-size: 10pt;
    margin: 0px;
}
#quickinfo p{
    background-color: #c7e0ff;
    padding: 2px;
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    font-size: 10pt;
    margin-top: 0px;
}
code {
    font-family: monospace;
}
li {
    list-style-image: none;
}