RewriteEngine on
RewriteBase /
RewriteRule ^de/mitglieder/([^/\:]+).htm$  load.php?class=members&method=user_details&language=de&id=$1
RewriteRule ^de/publickeys/([0-9]+)-([^/\:]+).htm$  load.php?class=members&method=publickey&language=de&id=$1
RewriteRule ^de/publickeys/([0-9]+)-([^/\:]+).htm$  load.php?class=members&method=publickey&language=de&id=$1
RewriteRule ^de/registrieren.htm$                   load.php?class=members&method=register&language=de&id=$1
RewriteRule ^de/$                                   load.php?class=startpage&method=index&language=de
RewriteRule ^de$                                    load.php?class=startpage&method=index&language=de
RewriteRule ^de/anmelden.htm$                       load.php?class=members&method=login&language=de
RewriteRule ^de/abmelden.htm$                       load.php?class=members&method=logout&language=de
RewriteRule ^de/optionen.htm$                       load.php?class=members&method=options&language=de
RewriteRule ^de/angaben_aendern.htm$                load.php?class=members&method=changedetails&language=de
RewriteRule ^de/tags_aendern.htm$                   load.php?class=members&method=changetags&language=de
RewriteRule ^de/tags_loeschen/([0-9]+).htm$         load.php?class=members&method=changetags&language=de&tag_id=$1
RewriteRule ^de/tag/([^/\:]+).htm$                  load.php?class=members&method=tag&language=de&tag_value=$1
RewriteRule ^de/mitglieder/$                        load.php?class=members&method=members&language=de
RewriteRule ^de/mitglieder$                         load.php?class=members&method=members&language=de
RewriteRule ^de/mitglieder/suche/$                  load.php?class=members&method=search&language=de
RewriteRule ^de/mitglieder/suche$                  load.php?class=members&method=search&language=de
RewriteRule ^de/mitglieder/suche/([^/\:]+)$        load.php?class=members&method=search&language=de&search=$1
RewriteRule ^de/mitglieder/suche/([^/\:]+)/$        load.php?class=members&method=search&language=de&search=$1
RewriteRule ^de/wiki/$                              load.php?class=wiki&method=wiki&language=de&id=1
RewriteRule ^de/wiki/$                              load.php?class=wiki&method=wiki&language=de&id=1
RewriteRule ^de/wiki$                               load.php?class=wiki&method=wiki&language=de&id=1
RewriteRule ^de/wiki/([0-9]+)-([^/\:]+).htm$        load.php?class=wiki&method=wiki&language=de&id=$1
RewriteRule ^de/wiki/version_([0-9]+)_([0-9]+).htm$ load.php?class=wiki&method=wiki&language=de&id=$1&realid=$2
RewriteRule ^de/wiki/versionen_von_([0-9]+).htm$    load.php?class=wiki&method=wiki_version&language=de&id=$1
RewriteRule ^de/editor/([0-9]+).htm$                load.php?class=wiki&method=editwiki&language=de&id=$1
RewriteRule ^de/editor/([0-9]+)_([0-9]+).htm$       load.php?class=wiki&method=editwiki&language=de&id=$1&realid=$2
RewriteRule ^de/editor/neu.htm$                     load.php?class=wiki&method=editwiki&language=de&id=0
RewriteRule ^de/neuigkeiten/$                       load.php?class=startpage&method=news&language=de
RewriteRule ^de/neuigkeiten$                        load.php?class=startpage&method=news&language=de
RewriteRule ^de/neuigkeiten/([0-9]+)-([^/\:]+).htm$ load.php?class=startpage&method=singlenews&language=de&id=$1
RewriteRule ^de/news_editor/([0-9]+).htm$           load.php?class=startpage&method=writenews&language=de&id=$1
RewriteRule ^de/news_editor/neu.htm$                load.php?class=startpage&method=writenews&language=de&id=0
RewriteRule ^de/rss/neuigkeiten.xml$                rss.php?lang=de
RewriteRule ^de/portal/$                            load.php?class=portal&method=portal&language=de
RewriteRule ^de/portal$                             load.php?class=portal&method=portal&language=de
RewriteRule ^de/portal/citedb/$                     load.php?class=portal&method=citedb&language=de
RewriteRule ^de/portal/citedb$                      load.php?class=portal&method=citedb&language=de
RewriteRule ^de/portal/citedb/zitat-([0-9]+).htm$   load.php?class=portal&method=cite&language=de&id=$1
RewriteRule ^de/portal/citedb/zitat-([0-9]+).htmmm$ load.php?class=portal&method=cite&language=de&id=$1&rating=-2
RewriteRule ^de/portal/citedb/zitat-([0-9]+).htmm$  load.php?class=portal&method=cite&language=de&id=$1&rating=-1
RewriteRule ^de/portal/citedb/zitat-([0-9]+).htmp$  load.php?class=portal&method=cite&language=de&id=$1&rating=1
RewriteRule ^de/portal/citedb/zitat-([0-9]+).htmpp$ load.php?class=portal&method=cite&language=de&id=$1&rating=2
RewriteRule ^de/portal/citedb/zitat-hinzufuegen.htm$ load.php?class=portal&method=add_cite&language=de
RewriteRule ^de/passwortaendern.htm$                load.php?class=members&method=changepw&language=de
RewriteRule ^de/benutzerbild_hochladen.htm$         load.php?class=members&method=upload_userpic&language=de
RewriteRule ^de/loesche_account.htm$                load.php?class=members&method=rmacc&language=de

RewriteRule ^en/members/([^/\:]+).htm$              load.php?class=members&method=user_details&language=en&id=$1
RewriteRule ^en/publickeys/([0-9]+)-([^/\:]+).htm$  load.php?class=members&method=publickey&language=en&id=$1
RewriteRule ^en/register.htm$                       load.php?class=members&method=register&language=en&id=$1
RewriteRule ^en/$                                   load.php?class=startpage&method=index&language=en
RewriteRule ^en$                                    load.php?class=startpage&method=index&language=en
RewriteRule ^en/login.htm$                          load.php?class=members&method=login&language=en
RewriteRule ^en/logout.htm$                         load.php?class=members&method=logout&language=en
RewriteRule ^en/options.htm$                        load.php?class=members&method=options&language=en
RewriteRule ^en/change_details.htm$                 load.php?class=members&method=changedetails&language=en
RewriteRule ^en/change_tags.htm$                    load.php?class=members&method=changetags&language=en   
RewriteRule ^en/members/$                           load.php?class=members&method=members&language=en
RewriteRule ^en/members$                            load.php?class=members&method=members&language=en
RewriteRule ^en/members/search/$                    load.php?class=members&method=search&language=en
RewriteRule ^en/members/search$                     load.php?class=members&method=search&language=en
RewriteRule ^en/members/search/([^/\:]+)$           load.php?class=members&method=search&language=en&search=$1
RewriteRule ^en/members/search/([^/\:]+)/$          load.php?class=members&method=search&language=en&search=$1
RewriteRule ^en/wiki/$                              load.php?class=wiki&method=wiki&language=en&id=1
RewriteRule ^en/wiki$                               load.php?class=wiki&method=wiki&language=en&id=1
RewriteRule ^en/wiki/([0-9]+)-([^/\:]+).htm$        load.php?class=wiki&method=wiki&language=en&id=$1
RewriteRule ^en/wiki/version_([0-9]+)_([0-9]+).htm$ load.php?class=wiki&method=wiki&language=en&id=$1&realid=$2
RewriteRule ^en/wiki/versions_of_([0-9]+).htm$      load.php?class=wiki&method=wiki_version&language=en&id=$1
RewriteRule ^en/editor/([0-9]+).htm$                load.php?class=wiki&method=editwiki&language=en&id=$1
RewriteRule ^en/editor/new.htm$                     load.php?class=wiki&method=editwiki&language=en&id=0
RewriteRule ^en/editor/([0-9]+)_([0-9]+).htm$       load.php?class=wiki&method=editwiki&language=en&id=$1&realid=$2
RewriteRule ^en/tags_delete/([0-9]+).htm$           load.php?class=members&method=changetags&language=en&tag_id=$1
RewriteRule ^en/tag/([^/\:]+).htm$                  load.php?class=members&method=tag&language=en&tag_value=$1
RewriteRule ^en/news/$                              load.php?class=startpage&method=news&language=en
RewriteRule ^en/news$                               load.php?class=startpage&method=news&language=en
RewriteRule ^en/news/([0-9]+)-([^/\:]+).htm$        load.php?class=startpage&method=singlenews&language=en&id=$1
RewriteRule ^en/news_editor/([0-9]+).htm$           load.php?class=startpage&method=writenews&language=en&id=$1
RewriteRule ^en/news_editor/new.htm$                load.php?class=startpage&method=writenews&language=en&id=$1
RewriteRule ^en/portal/$                            load.php?class=portal&method=portal&language=en
RewriteRule ^en/portal$                             load.php?class=portal&method=portal&language=en
RewriteRule ^en/portal/citedb/$                     load.php?class=portal&method=citedb&language=en
RewriteRule ^en/portal/citedb$                      load.php?class=portal&method=citedb&language=en
RewriteRule ^en/portal/citedb/cite-([0-9]+).htm$    load.php?class=portal&method=cite&language=en&id=$1
RewriteRule ^en/portal/citedb/cite-([0-9]+).htmmm$  load.php?class=portal&method=cite&language=en&id=$1&rating=-2
RewriteRule ^en/portal/citedb/cite-([0-9]+).htmm$   load.php?class=portal&method=cite&language=en&id=$1&rating=-1
RewriteRule ^en/portal/citedb/cite-([0-9]+).htmp$   load.php?class=portal&method=cite&language=en&id=$1&rating=1
RewriteRule ^en/portal/citedb/cite-([0-9]+).htmpp$  load.php?class=portal&method=cite&language=en&id=$1&rating=2
RewriteRule ^en/portal/citedb/add-cite.htm$         load.php?class=portal&method=add_cite&language=en
RewriteRule ^en/changepassword.htm$                 load.php?class=members&method=changepw&language=en
RewriteRule ^en/upload_userpic.htm$                 load.php?class=members&method=upload_userpic&language=en
RewriteRule ^en/remove_account.htm$                 load.php?class=members&method=rmacc&language=en
