RewriteEngine on
RewriteBase /
RewriteRule ^de/mitglieder/([0-9]+)-([^/\:]+).htm$ user_details.php?lang=de&id=$1
RewriteRule ^de/publickeys/([0-9]+)-([^/\:]+).htm$ publickey.php?lang=de&id=$1
RewriteRule ^de/registrieren.htm$ register.php?lang=de
RewriteRule ^de/$ index2.php?lang=de
RewriteRule ^de$ index2.php?lang=de
RewriteRule ^de/anmelden.htm$ login.php?lang=de
RewriteRule ^de/abmelden.htm$ logout.php?lang=de
RewriteRule ^de/optionen.htm$ options.php?lang=de
RewriteRule ^de/angaben_aendern.htm$ changedetails.php?lang=de
RewriteRule ^de/tags_aendern.htm$ changetags.php?lang=de
RewriteRule ^de/mitglieder/$ members.php?lang=de
RewriteRule ^de/mitglieder$ members.php?lang=de
RewriteRule ^de/mitglieder/suche.htm$ search.php?lang=de&search=normal
RewriteRule ^de/mitglieder/erweiterte_suche.htm$ search.php?lang=de&search=extended

RewriteRule ^en/members/([0-9]+)-([^/\:]+).htm$ user_details.php?lang=en&id=$1
RewriteRule ^en/publickeys/([0-9]+)-([^/\:]+).htm$ publickey.php?lang=en&id=$1
RewriteRule ^en/register.htm register.php?lang=en
RewriteRule ^en/$ index2.php?lang=en
RewriteRule ^en$ index2.php?lang=en
RewriteRule ^en/login.htm$ login.php?lang=en
RewriteRule ^en/logout.htm$ logout.php?lang=en
RewriteRule ^en/options.htm$ options.php?lang=en
RewriteRule ^en/change_details.htm$ changedetails.php?lang=en
RewriteRule ^en/change_tags.htm$ changetags.php?lang=de
RewriteRule ^en/members/$ members.php?lang=en
RewriteRule ^en/members$ members.php?lang=en
RewriteRule ^en/members/search.htm$ search.php?lang=en&search=normal
RewriteRule ^en/members/extended_search.htm$ search.php?lang=en&search=extended
