RewriteEngine on
RewriteBase /
RewriteRule ^de/mitglieder/([0-9]+)-([^/\:]+).htm$ user_details.php?lang=de&id=$1
RewriteRule ^de/publickeys/([0-9]+)-([^/\:]+).htm$ publickey.php?lang=de&id=$1
RewriteRule ^de/registrieren.htm$ register.php?lang=de
RewriteRule ^de/$ index2.php?lang=de
RewriteRule ^de$ index2.php?lang=de
RewriteRule ^de/anmelden.htm$ login.php?lang=de
RewriteRule ^de/entwickler.htm$ wiki.php?lang=de&id=4&developer=1
RewriteRule ^de/abmelden.htm$ logout.php?lang=de
RewriteRule ^de/optionen.htm$ options.php?lang=de
RewriteRule ^de/angaben_aendern.htm$ changedetails.php?lang=de
RewriteRule ^de/tags_aendern.htm$ changetags.php?lang=de
RewriteRule ^de/tags_loeschen/([0-9]+).htm$ changetags.php?lang=de&tag_id=$1
RewriteRule ^de/tag/([^/\:]+).htm$ tag.php?lang=de&tag_value=$1
RewriteRule ^de/mitglieder/$ members.php?lang=de
RewriteRule ^de/mitglieder$ members.php?lang=de
RewriteRule ^de/mitglieder/suche.htm$ search.php?lang=de&search=normal
RewriteRule ^de/mitglieder/erweiterte_suche.htm$ search.php?lang=de&search=extended
RewriteRule ^de/wiki/$ wiki.php?lang=de&id=1
RewriteRule ^de/wiki$ wiki.php?lang=de&id=1
RewriteRule ^de/wiki/([0-9]+)-([^/\:]+).htm$ wiki.php?lang=de&id=$1
RewriteRule ^de/wiki/version_([0-9]+)_([0-9]+).htm$ wiki.php?lang=de&id=$1&realid=$2
RewriteRule ^de/wiki/versionen_von_([0-9]+).htm$ wiki_version.php?lang=de&id=$1
RewriteRule ^de/editor/([0-9]+).htm$ editwiki.php?lang=de&id=$1
RewriteRule ^de/editor/([0-9]+)_([0-9]+).htm$ editwiki.php?lang=de&id=$1&realid=$2
RewriteRule ^de/editor/neu.htm$ editwiki.php?lang=de&id=0
RewriteRule ^de/neuigkeiten/$ news.php?lang=de
RewriteRule ^de/neuigkeiten$ news.php?lang=de
RewriteRule ^de/neuigkeiten/([0-9]+)-([^/\:]+).htm$ singlenews.php?lang=de&id=$1
RewriteRule ^de/news_editor/([0-9]+).htm$ writenews.php?lang=de&id=$1
RewriteRule ^de/news_editor/neu.htm$ writenews.php?lang=de&id=0
RewriteRule ^de/rss/neuigkeiten.xml$ rss.php?lang=de
RewriteRule ^de/portal/$ portal.php?lang=de
RewriteRule ^de/portal$ portal.php?lang=de
RewriteRule ^de/portal/zitat-([0-9]+).htm$ zitate.php?lang=de&id=$1
RewriteRule ^de/portal/zitat-hinzufuegen.htm$ add_zitat.php?lang=de&id=$1
RewriteRule ^de/passwortaendern.htm changepw.php?lang=de

RewriteRule ^en/members/([0-9]+)-([^/\:]+).htm$ user_details.php?lang=en&id=$1
RewriteRule ^en/publickeys/([0-9]+)-([^/\:]+).htm$ publickey.php?lang=en&id=$1
RewriteRule ^en/register.htm register.php?lang=en
RewriteRule ^en/$ index2.php?lang=en
RewriteRule ^en$ index2.php?lang=en
RewriteRule ^en/login.htm$ login.php?lang=en
RewriteRule ^en/developer.htm$ wiki.php?lang=en&id=5&developer=1
RewriteRule ^en/logout.htm$ logout.php?lang=en
RewriteRule ^en/options.htm$ options.php?lang=en
RewriteRule ^en/change_details.htm$ changedetails.php?lang=en
RewriteRule ^en/change_tags.htm$ changetags.php?lang=en
RewriteRule ^en/change_tags.htm$ changetags.php?lang=en&del_tag=id
RewriteRule ^en/members/$ members.php?lang=en
RewriteRule ^en/members$ members.php?lang=en
RewriteRule ^en/members/search.htm$ search.php?lang=en&search=normal
RewriteRule ^en/members/extended_search.htm$ search.php?lang=en&search=extended
RewriteRule ^en/wiki/$ wiki.php?lang=en&id=1
RewriteRule ^en/wiki$ wiki.php?lang=en&id=1
RewriteRule ^en/wiki/([0-9]+)-([^/\:]+).htm$ wiki.php?lang=en&id=$1
RewriteRule ^en/wiki/version_([0-9]+)_([0-9]+).htm$ wiki.php?lang=en&id=$1&realid=$2
RewriteRule ^en/wiki/versions_of_([0-9]+).htm$ wiki_version.php?lang=en&id=$1
RewriteRule ^en/editor/([0-9]+).htm$ editwiki.php?lang=en&id=$1
RewriteRule ^en/editor/new.htm$ editwiki.php?lang=en&id=0
RewriteRule ^en/editor/([0-9]+)_([0-9]+).htm$ editwiki.php?lang=en&id=$1&realid=$2
RewriteRule ^en/tags_delete/([0-9]+).htm$ changetags.php?lang=en&tag_id=$1
RewriteRule ^en/tag/([^/\:]+).htm$ tag.php?lang=en&tag_value=$1
RewriteRule ^en/news/$ news.php?lang=en
RewriteRule ^en/news$ news.php?lang=en
RewriteRule ^en/news_editor/([0-9]+).htm$ writenews.php?lang=en&id=$1
RewriteRule ^en/news_editor/neu.htm$ writenews.php?lang=en&id=0
RewriteRule ^en/portal/$ portal.php?lang=en
RewriteRule ^en/portal$ portal.php?lang=en
RewriteRule ^en/portal/cite-([0-9]+).htm$ zitate.php?lang=en&id=$1
RewriteRule ^en/portal/add-cite.htm$ add_zitat.php?lang=en&id=$1
RewriteRule ^en/changepassword.htm changepw.php?lang=en
